<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="td-member__img">
    <div class="td-member__img__ava">
        <img src="//valuta.kg/uploads/k/kicb/avat_kicb_59f27.png" alt="ЗАО &quot;KICB&quot;"
             title="ЗАО &quot;KICB&quot;" class="img-responsive">
    </div>
</div>
<div class="td-member__info">
    <h4><a href="https://valuta.kg/view/kicb.html">ЗАО "KICB"</a></h4>
    <p>
        <span class="min-width-80"></span> Банк
                                                                                            </span>
        <span class="fa fa-phone"></span> (312) 620101 &nbsp;&nbsp;&nbsp;
        <span class="fa fa-map-marker"></span> бул. Эркиндик, 21
    </p>
</div>
</div>

</body>
</html>